.not-found-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;

    img {
      width: 24rem;
    }

    .content {

      h1 {
        color: var(--color-primary);
        margin-bottom: 0;
      }

      h3 {
        margin-top: 0.7rem;
        color: var(--color-gray-600);
      }

      button {
        margin-top: 1rem;
      }
    }
  }
}
