<h1 *ngIf="condition; else naoVerdadeiro" [ngClass]="{ 'classe-teste': conditionClasse }">{{ nome }}</h1> <!-- Diretiva Estrutural -->

<h2 [ngSwitch]="number" clMudaBackground>
  <h2 *ngSwitchCase="1">Número 1</h2>
  <h2 *ngSwitchCase="2">Número 2</h2>
  <h2 *ngSwitchCase="3">Número 3</h2>
  <h2 *ngSwitchDefault>Default</h2>
</h2>

<ul *ngFor="let item of array; let i = index">
  <li [class.classe-teste3]="false">Valor: {{ item }} - Index: {{ i }}</li>
</ul>

<h2 [ngStyle]="{ 'color': colorNgStyle }">
  ngStyle
</h2>

<h2>Hoje é: {{ today | date : "EEEE',' dd/MM/YYYY 'às' hh:mm" }}</h2> <!-- Pipes -->

<h2>{{ nome | lowercase | uppercase }}</h2>

<h2>{{ dinehiro | currency: 'BRL' }}</h2>

<p>Espere... {{ promise | async }}</p> <!-- Async Pipes -->

<p>Custom Pipe: {{ nome | teste : 10 : 'eu' }}</p> <!-- Custom Pipes -->

<ng-template #naoVerdadeiro><h1 [ngClass]="arrayDeClasses">Condição não verdadeira</h1>
