<!-- <h1>{{ nomeComponentePai }}</h1> -->

<!-- <p #paragrafoRef></p> -->

<!-- <cl-teste [nomeComponenteFilho]="nomeComponentePai" (mudaNome)="mudaNomeComponentePai($event)"></cl-teste> -->

<!-- <cl-teste [nomeComponenteFilho]="nomeComponentePai"></cl-teste>
<cl-teste [nomeComponenteFilho]="'Gustavo'"></cl-teste>
<cl-teste [nomeComponenteFilho]="'Maria'"></cl-teste> -->

<!-- <ng-template #dinamico></ng-template> -->

<!-- <cl-header>
  <h3>Login</h3>
  <h2>Configurações</h2>
</cl-header> -->

<cl-header>
  <cl-teste1></cl-teste1>
  <cl-teste2></cl-teste2>
</cl-header>

<h1>{{ titulo }}</h1>
